

<p class="text">Login as</p>
<div class="teachLog">
    
    <a href="/Teacher/login" class="btn btn-primary" >Teacher Login</a>
    <a href="/Student/Login" class="btn btn-primary">Student Login</a>
    
</div>




















































